.toolbar-header {
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 64px !important;
  justify-content: space-between;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav mat-toolbar {
  background: inherit;
}