<div class="container">
  <mat-toolbar class="toolbar-header mat-elevation-z8" color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Content toolbar</span>
    <button mat-raised-button color="" [routerLink]="['']">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" 
      fixedInViewport
      fixedTopGap="64">
      <!-- <mat-toolbar>Menu</mat-toolbar> -->
      <mat-divider></mat-divider>

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/nav/example']">Example</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/nav/groups']">Grupy</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/nav/group/1']">group/1</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sidenav-main-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
