<mat-toolbar color="primary">
    <div *ngIf="group">
        <span>Notatki w grupie: {{group.name}}</span>
    </div>
    <button mat-mini-fab (click)="openNewNoteDialog()"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<div *ngIf="group" class="page-content-continer">
    <mat-tab-group backgroundColor="primary">
        <mat-tab label="Notatki"><app-group-notes [group]="group"></app-group-notes></mat-tab>
        <mat-tab label="Szczegóły grupy"><app-group-details [group]="group"></app-group-details></mat-tab>
    </mat-tab-group>
</div>