/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Track */
::-webkit-scrollbar-track {
    background: #D6E4F8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #a9a9a9;
}

.page-content-continer {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.page-content-continer>* {
    margin: 10px;
}