.full-width-table {
  width: 100%;
}

th {
  border-bottom: 1px solid;

  .mat-sort-header-container {
    justify-content: center;
  }
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  text-align: center;
  min-width: 2000px;
}

.table-responsive {
  overflow-x: auto;
}